#profile_header > h2{

  font-weight: 600;
  font-size: 40px;
}

#profile_add_button{

  background: black;
  color:white;
  border-radius: 0px;
}

#profileCol1{

  padding:0px 10px;
}

#profileCol2{

  padding:0px 10px;
}

#profileDisplay{

  margin: 0px;
}



#exerciseContainer{

    width: 100%;
    height: 80vh;
    padding: 30px;
    

}

button{

    height: 45px;
    width: 120px;
    border: none;
    background-color: #d9d9d9;
    letter-spacing: 2px;
    cursor: pointer;
   

}

#chart-container {
    width: 100%; /* Full width of its parent */
    height: 400px; /* Set desired height for the chart */
    display: block;
  }
  
  /* Make the canvas stretch to the container size */
  #myChart {
    width: 100%; /* Stretch to 100% width of container */
    height: 100%; /* Match the container's height */
    display: block; /* Prevent unwanted inline gaps */
  }

label{

    margin-left: 10px;
}



#gridContainer{

    padding: 30px 0px;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-gap: 3px;
}

input[type="search"]{

    height: 45px;
    border: 1px solid #f5e2e2;
    margin-left: 15px;
    border-radius: 0px;
    padding: 0px 15px;
    width: 300px;
}

@media only screen and (max-width: 1100px) {
  

    #gridContainer{

    padding: 30px 0px;
    display: grid;
    grid-template-columns:33.3% 33.3% 33.3%;
    grid-gap: 3px;

    }

  }


  @media only screen and (max-width: 850px) {
  

    #gridContainer{

    padding: 30px 0px;
    display: grid;
    grid-template-columns:50% 50%;
    grid-gap: 3px;

    }

  }


  @media only screen and (max-width: 400px) {

    #gridContainer{

        padding: 30px 0px;
        display: grid;
        grid-template-columns:100%;
        grid-gap: 3px;
    
        }
  }


