#workoutCard{

    width: 100%;
    height: 530px;
    /* padding: 20px; */
    /* background-color: red; */
    border: 1px solid #e5dada;
    
}

#thumbnail{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #e5dada;
    
}

#action_buttons{

    position: absolute;
    right: 6px;
    top: 4px;
    font-size:25px;
    font-weight: 600;
    color: white;
    cursor: pointer;

}

#thumbnail img{


    height: 100%;
    width: 100%;
}



#detail{

    padding: 20px;
    line-height: 15px;
}

#detail > p{

    font-size: 13px;
}
