

#banner{
    width: 100%;
    height: 50vh;
    background:url(../../assets/images/banner.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left:0px;
}

#call_one{

   
    margin-top: 60px;
    
}

/* #call_one_heading{

    padding-right: 40px;
} */

#call_one_heading > h1{

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;                   ;

}

#button_one{

    border-radius: 0px;
    background-color: black;
    color: white;
    margin-right: 4px;
}

#button_two{

    border-radius: 0px;
    background-color: white;
    color:black;
}

#explore{

    margin-top: 200px;
    text-align: center;
    font-family: 'Poppins';
    padding:0px 120px
}

#explore h2{

    font-weight: 600;
    font-size: 40px;
}

#service{

    margin-top:100px;
    text-align: center;
}



.service_heading{

    font-weight:600;
    font-size: 30px;
   
}

#service_button_row{

    margin-top: 30px;
}

#service_button{

    background-color: black;
    color:white;
    border-radius: 0px;
    width: 50%;
    margin: 0 auto;
   
}

#gallery_title{

    margin-top: 200px;
    text-align: center;
}

#gallery_title > h2{

    font-weight: 600;
    font-size: 40px;
}


#locations{

    margin-top: 200px;
}

#locations > h2{

    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}







#workout_profiles_grid{
    padding: 15px 30px;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-gap: 3px;
}

#map_title_div{

    margin-top: 200px;
    margin-bottom: 20px;
}



#map_title_heading{

    font-weight: 600;
    font-size: 40px;
}

#map_title_button{

    border-radius: 0px;
    background-color: black;
    color: white;
    float:inline-end;
   
}

#testimonial_div_title{

    margin-top: 200px;
}

#testimonial_div_title > h2{

    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

#testimonial_div_title > p{

    
    text-align: center;
}

#testimonial{

    margin-top:50px;
}

#favourite_div_title{

    margin-top: 200px;
}

#favourite_div_title > h2{

    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

#favourite_div_title > p{

    
    text-align: center;
}

#favourite{

    margin-top:50px;
}

.favourite_name{

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;

}

.name_title{

    font-weight: 600;
    font-size: 17px;
    margin-top: 15px;
}

svg{

    margin:auto;
}

@media only screen and (max-width: 992px) {
  
    #call_one_heading > h1{

        font-size: 40px;                   ;
    
    }

    #explore h2{

        font-size: 30px;
    }

    .service_heading{

        font-weight:600;
        font-size: 20px;
       
    }

    #gallery_title > h2{

        font-weight: 600;
        font-size: 30px;
    }

    #map_title_heading{

        font-weight: 600;
        font-size: 30px;
    }

    #map_title_button{

      font-size: 15px;
      width:40%;
       
    }

    #testimonial_div_title > h2{

       
        font-size: 30px;
        
    }

    #workout_profiles_grid{

    padding: 15px 30px;
    display: grid;
    grid-template-columns:33.3% 33.3% 33.3%;
    grid-gap: 3px;

    }

    #favourite_div_title > h2{

        font-weight: 600;
        font-size: 30px;
        text-align: center;
    }

    .favourite_name{

        font-size: 20px;
        font-weight: 600;
    
    }

  }


  @media only screen and (max-width: 768px) {

    #banner{

        width: 100%;
        padding: 0px 0px;
    }

    #explore{

      
        padding:0px 5px
    }

    #find{
        text-align: center;
       }
    
       #findBtn{
        margin: 0 auto;
       }
  

    #workout_profiles_grid{

    padding: 15px 30px;
    display: grid;
    grid-template-columns:50% 50%;
    grid-gap: 3px;

    }

  }


  @media only screen and (max-width: 570px) {
  

    #call_one_heading > h1{

        font-size: 30px;                   ;
    
    }

    #explore h2{

        font-size: 20px;
    }

    .service_heading{

        font-weight:600;
        font-size: 15px;
       
    }

    #gallery_title > h2{

        font-weight: 600;
        font-size: 20px;
    }

    #map_title_heading{

        font-weight: 600;
        font-size: 20px;
    }

    #map_title_button{

        font-size: 13px;
        width:30%;
         
      }

      #testimonial_div_title > h2{

       
        font-size: 20px;
        
    }
    
    #favourite_div_title > h2{

        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }



    #workout_profiles_grid{

    padding: 15px 30px;
    display: grid;
    grid-template-columns:100%;
    grid-gap: 3px;

    }

  


  }




