#placeViewMap{

    margin-top:20px;
}

#placeViewMap > h2{

    font-family:'Poppins';
    font-weight: 600;
    font-size: 40px;
}

#about {

    /* padding:0px 50px */
    margin-top: 70px;
    text-align: center;
}

#about > h2{

    font-family:'Poppins';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

#about_title{

    font-weight: 600;
    font-size: 35px;
    text-align: left;
    
}

#comments_title{

    font-weight: 600;
    font-size: 35px;
    text-align: left;
    
}

#about_para{

    text-align: justify;
    margin-top: 5px;
}

#about_description{

    text-align: center;
}




#gallery_title{

    font-weight: 600;
    font-size: 35px;
    text-align: left;
    
}

#contact{

  margin-top: 100px;
}

#contact_title{

    font-weight: 600;
    font-size: 35px;
    text-align: left;
    
}

#description{

    line-height: 29px;
}

#contact_traveller{

    font-weight: 600;
    font-size: 35px;
    margin: 10px 0px 20px 0px;
}

#view_image:hover{

    transform: translateY(-20px) scale(1.08);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    cursor: pointer;
}

#about_col{

    padding-right: 20px;
    padding-left: 0px;
}

#gallery_view{

    margin-top: 30px;
}

#gallery_title{

    font-weight: 600;
    padding-left: 0px;
    margin-bottom: 40px;
}

#travel_form{

    padding:0px;
   
}

input{

    border-radius: 0px !important;
}

#feedback{

    margin-top: 120px;
    margin-bottom: 100px;
}

#feedback_title{

    font-weight: 600;
    font-size: 35px;
    text-align: center;
}

#comments, #travel{

    margin-top: 100px;
}

#comments{

  background-color: black;
  color: white;
  padding: 30px;
}

#travel{

  padding-left: 40px;
 
}

#underline-heading {
  position: relative;
  margin-bottom: 40px;
}

#underline-heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; /* spacing under text */
  width: 35px; /* length of the dash */
  height: 7px; /* thickness */
  background-color: rgb(235, 11, 11); /* or any color */
}


#underline-headingg {
  position: relative;
  margin-bottom: 40px;
}

#underline-headingg::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; /* spacing under text */
  width: 35px; /* length of the dash */
  height: 7px; /* thickness */
  background-color: rgb(17, 163, 12); /* or any color */
}


@media only screen and (max-width: 768px) {

  #travel{

  padding-left: 10px;
}

#comments{

  padding:10px;
}

}




@media only screen and (max-width: 850px) {

    #about_col{

        padding-right: 0px;
    }

    #image_gallery > h2{

        font-weight: 600;
        padding-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

}



@media only screen and (max-width: 575px) {

  

  #image_gallery{

    padding: 0px 10px;
  }  

  #travel_form{
    width: 100%;
    padding:10px;
  }

  #about_title{

    padding-left: 10px;
  }

  #about_para{

    padding-left: 10px;
  }

  #about_description{

    padding-left: 10px;
  }

  #contact_traveller{

    padding-left: 10px;
  }

}





