#workoutCard{

    width: 100%;
    height: 500px;
    /* padding: 20px; */
    /* background-color: red; */
    border: 1px solid #e5dada;
    
}

#homeCard:hover{

    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#likeIcon:hover{

    transform: translateY(-10px) scale(1.05) rotate(360deg);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#dislikeIcon:hover{

    transform: translateY(-10px) scale(1.05) rotate(360deg);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

#home_card_title{

    padding: 10px 15px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}



#thumbnail{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #e5dada;
    
}

#action_buttons{

    position: absolute;
    right: 6px;
    top: 4px;
    font-size:25px;
    font-weight: 600;
    color: white;
    cursor: pointer;

}

#thumbnail img{


    height: 100%;
    width: 100%;
}



#detail{

    padding: 20px;
    line-height: 30px;
}
