#registerRow{

    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
 }


 @media only screen and (max-width: 992px) {

    #signIn_button{

        font-size: 15px;
        border-radius: 6px;
        width: 100%;
    }

    #google_link{

        font-size: 12px;
        width: 100%;
    }

 }